.App{
  text-align:center;
  background-color: #162328;
}

.header{
  text-align: center;
  background-color: #162328;
  color: #3FC060;
}

.body{
  background-color: #3FC060;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  color: #162328;
}